@model List<Comments>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<section class="review" id="review">

    <h1 class="heading"> Müşteri <span>Yorumları</span></h1>

    <div class="box-container">


        @foreach (var comment in Model)
        {
            <div class="box">
                <img src="~/images/guy-walking-with-dog-in-the-park.svg" alt="" />
                <h3>@comment.Ad</h3>
                <div class="stars">
                    <p>@comment.Puan</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="text">@comment.Yorum</p>
                <a href="#" class="btn"> Daha Fazlası <span class="fas fa-chevron-right"></span></a>
            </div>
        }

        <div class="box">
            <img src="~/images/guy-walking-with-dog-in-the-park.svg" alt="" />
            <h3>Vettel</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">
                Lorem ipsum dolor sit amet consetur adipsici elit. asdloa spaientenihil aperiam.
                Lorem ipsum dolor sit amet consetur adipsici elit. asdloa spaientenihil aperiam.
                Lorem ipsum dolor sit amet consetur adipsici elit. asdloa spaientenihil aperiam
            </p>
        </div>

    </div>
</section>

<section class="footer">
    <div class="box-container">

        <div class="box">
            <h3>hızlı linkler</h3>
            <a href="#"> <i class="fas fa-chevron-right"></i>Ana Sayfa</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Hizmetler</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Hakkında</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Doktorlar</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Randevu</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Geri Dönüşler</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Blogs</a>
        </div>

        <div class="box">
            <h3>Hizmetlerimiz</h3>
            <a href="#"> <i class="fas fa-chevron-right"></i>Muayene ve Teşhis</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Aşılar ve Koruyucu Sağlık Hizmetleri:</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Cerrahi Müdahaleler</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Dental Bakım</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Laboratuvar Testleri</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Tedavi ve İlaçlar</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Beslenme Danışmanlığı</a>
        </div>

        <div class="box">
            <h3>İletişim Bilgileri</h3>
            <a href="#"> <i class="fas fa-phone"></i>0551 948 59 17</a>
            <a href="#"> <i class="fas fa-phone"></i>0212 123 46 49</a>
            <a href="#"> <i class="fas fa-envelope"></i>serkanozdemir38080@gmail.com</a>
            <a href="#"> <i class="fas fa-envelope"></i>vetclinik@gmail.com</a>
            <a href="#"> <i class="fas fa-envelope"></i>Isparta, Türkiye - 32020</a>
        </div>

        <div class="box">
            <h3>Bizi Takip Edin</h3>
            <a href="#"> <i class="fab fa-facebook"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> X </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
        </div>

    </div>

    <div class="credit"> created by <span>Serkan Özdemir</span></div>

    @{
        //TODO jquery kullanımı
    };
    <div class="credit">
        <button class="btn btn-success my-3" id="changeTextButton">Patili Dostlarımızı Seviyorsan Tıkla</button>
        <p id="targetText">???</p>

        <script>
            $(document).ready(function () {
                $("#changeTextButton").click(function () {
                    $("#targetText").text("Bizde Öyle Düşünmüştük! Görüşün İçin Teşekkürler :)");
                });
            });
        </script>
    </div>

</section>