<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Veteriner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <!--font awesome linki aşağıda-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" asp-append-version="true" />
    <!--css dosyasının yolunu verdim-->
    <link rel="stylesheet" href="~/css/style.css" />

</head>
<body>

    <!--js dosyası linki aşağıda-->
    <script src="~/js/script.js"></script>
    <header class="header">

        <a href="#" class="logo nav-link"> <i class="fas fa-heartbeat"></i> vetKlinik. </a>
        <nav class="navbar">

            <a asp-area="" class="nav-link"
               asp-controller="Home" asp-action="Index">Ana Sayfa</a>

            <a class="nav-link" asp-area=""
               asp-controller="Services" asp-action="Index">Hizmetler</a>

            <a class="nav-link" asp-area=""
               asp-controller="About" asp-action="Index">Hakkında</a>

            <a class="nav-link" asp-area=""
               asp-controller="Doctors" asp-action="Index">Doktorlar</a>

            <a class="nav-link" asp-area=""
               asp-controller="Appointment" asp-action="Index">Randevu</a>

            <a class="nav-link" asp-area=""
               asp-controller="Review" asp-action="Index">Geri Dönüşler</a>

            <a class="nav-link" asp-area=""
               asp-controller="Blogs" asp-action="Index">Blogs</a>
            <a class="nav-link">
                
            </a>

            <partial name="_LoginPartial" />
        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="padding-top:15rem;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Veteriner - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
